<!DOCTYPE html>
<html>
    <head>
        <title>Convert Docx to Pdf</title>
        <meta charset="utf-8">
    </head>
    <body>
        <form action="/docxtopdf" method="POST" enctype="multipart/form-data">
            <input type="file" name="UploadedFile">
            <button type="submit">Upload</button>
        </form>
    </body>
</html>