<!DOCTYPE html>
<html>
    <head>
        <title>Convert PPT to PDF</title>
        <meta charset="utf-8">
    </head>
    <body>
        <p>Select and upload the PPT file</p>
        <form action="/ppttopdf" method="POST" enctype="multipart/form-data">
            <input type="file" name="UploadedFile"><br>
            <button type="submit">Upload</button>
        </form>
    </body>
</html>